﻿,@model UI.Models.TaskModels.TaskViewModel

@{
    ViewBag.Title = "DeleteTask";
}

<h2>Görev Sil</h2>


<p>
    @if (ViewBag.Submitted)
    {
        // If the form was submitted
        if (ViewBag.Result)
        {
            @Html.Label("İşlem başarıyla gerçekleşti");

        }
        else
        {
            @Html.Label("İşlem sırasında hata oluştu!");
        }
    }
</p>

@if (ViewBag.Result == null || ViewBag.Result == false)
{
    <h3>Bu görevi silmek istediğinizden emin misiniz?</h3>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Task)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Task)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Priorty)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Priorty)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-default" /> |
                @Html.ActionLink("Listeye Dön", "TaskList", new { userId = Model.UserId })
            </div>
        }
    </div>
}
else
{
    @Html.ActionLink("Listeye Dön", "TaskList", new { userId = Model.UserId })
}