﻿@model IEnumerable<UI.Models.TaskModels.TaskViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Tüm Görevler</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId) <br />
           (İşlem kolaylığı açısından <br />
             id gösteriyorum sadece)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Task)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priorty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priorty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}

</table>
