﻿@model IEnumerable<UI.Models.TaskModels.TaskViewModel>

@{
    ViewBag.Title = "TaskList";
}

<h2>Görev Listesi</h2>

<p>
    @Html.ActionLink("Yeni Görev Ekle", "AddTask", new { userId = ViewBag.UserId})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Task)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priorty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Task)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priorty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "EditTask", new { id = item.Id }) |
                @Html.ActionLink("Sil", "DeleteTask", new { id = item.Id })
            </td>
        </tr>
}

</table>
