﻿@model UI.Models.AddUserModel
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <form method="post">
            <div class="row">
                <div class="col-md-2">Adı</div>
                <div class="col-md-9">@Html.TextBoxFor(x => x.User.Name)</div>
            </div>
            <div class="row">
                <div class="col-md-2">Soyadı</div>
                <div class="col-md-9">@Html.TextBoxFor(x => x.User.Surname)</div>
            </div>
            <div class="row">
                <div class="col-md-2">Adresi</div>
                <div class="col-md-9">@Html.TextBoxFor(x => x.User.Address)</div>
            </div>
            <div class="row">
                <div class="col-md-2">Eposta</div>
                <div class="col-md-9">@Html.TextBoxFor(x => x.User.Email)</div>
            </div>
            <div class="row">
                <div class="col-md-2">Telefon Numarası</div>
                <div class="col-md-9">@Html.TextBoxFor(x => x.User.MobileNumber)</div>
            </div>
            <div class="row">
                <div class="col-md-2">Şifre</div>
                <div class="col-md-9">@Html.PasswordFor(x => x.User.Password)</div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-9"><input type="submit" value="Save" /></div>
            </div>

        </form>

        <p>
            @if (ViewBag.Submitted)
            {
                // If the form was submitted
                if (ViewBag.Result)
                {  
                    @Html.Label("İşlem başarıyla gerçekleşti");

                }
                else
                {
                    @Html.Label("İşlem sırasında hata oluştu!");
                }
            }
        </p>
    </div>
</div>
