﻿@model UI.Models.UserListModel
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-2"><p>
    @Html.ActionLink("Yeni Kullanıcı Ekle", "AddUser")
</p></div>
</div>
<div class="row">
    <div class="col-md-12">
        <table style="width:80%">
            <tr>
                <td style="width:25%">Adı</td>
                <td style ="width:25%">Soyadı</td>
                <td style ="width:20%">Görevler</td>
                <td style="width:15%">Düzenle</td>
                <td style="width:15%">Sil</td>

            </tr>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@Html.ActionLink("Görevler", "TaskList", "Task", new { userId = @item.Id }, new { })</td>
                    <td>@Html.ActionLink("Düzenle", "EditUser", new { id = @item.Id })</td>
                    <td>@Html.ActionLink("Sil", "DeleteUser", new { id = @item.Id })</td>
                </tr>
            }

        </table>
    </div>
</div>